.Todo_App {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .container_todo {
        margin-top: 100px;
        min-width: 500px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 5px #ddd;
        h1 {
            text-align: center;
        }
        .top_todo {
            display: flex;
            justify-content: space-between;
            .group {
                padding: 5px;
                outline: none;
                border: none;
                border-radius: 5px;
            }
            input {
                width: 68%;
            }
            button {
                margin-left: 10px;
                color: #fff;
                background-color: #04aa6d;
            }
        }
        .listtodo {
            .items_todo {
                margin: 10px 0 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                div:nth-child(1) {
                    margin-left: 10px;
                }
                .btn {
                    padding: 5px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                }
                .edit {
                    background-color: yellow;
                }
                .del {
                    background-color: rgb(255, 0, 0);
                }
            }
        }
    }
}
