.from_user {
    background-color: #282c34;
    color: #fff;
    h2 {
        text-align: center;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 99%;
        margin: 5px auto;

        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            font-size: 25px;
        }
    }
}
$primaryColor: #3498db;

.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
        display: flex;
        justify-content: space-between;
        width: 700px;
        padding: 20px;
        margin-top: 10px;
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 0px 3px 5px #fdf;
        .form_grou {
            display: flex;
            flex-direction: column;
            margin-right: 20px;

            label {
                color: $primaryColor;
                margin-bottom: 5px;
            }

            input {
                width: 300px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 10px;
            }
        }
    }

    .btn_add {
        margin-top: 20px;
        text-align: center;

        input[type="submit"],
        input[type="reset"] {
            background-color: $primaryColor;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
